<%- include('partials/head.ejs') %>

<div class="background">
  <%- include('partials/nav-bar.ejs') %>
  <%- include('partials/home-banner.ejs') %>
  <div class="frame">
    <h2 class="homePage" id="title">Novedades</h2>
    <%- include('partials/product-slider.ejs') %>
    <h2 class="homePage" id="title">Best Sellers</h2>
    <%- include('partials/product-slider.ejs') %>
  </div>
  <br>
  <br>
  <br>
  <br>
  <%- include('partials/footer.ejs') %>

  </html>