<%- include('partials/head.ejs') %>

<div class="background">
  <%- include('partials/nav-bar.ejs') %>
  <%- include('partials/home-banner.ejs') %>
  <div class="frame">
    <h2 id="title">Novedades</h2>
    <%- include('partials/product-slider.ejs') %>
    <h2 id="title">Best Sellers</h2>
    <%- include('partials/product-slider.ejs') %>
  </div>
  <%- include('partials/footer.ejs') %>
</div>
</body>

</html>