<%- include('partials/head.ejs') %>
<div class="background">
    <%- include('partials/nav-bar.ejs') %>
    <div class="frame">
        <div class="child-frame1">
            <div>
                <h1><%= album.title %></h1>
                <h3><%= album.artist.name %></h3>
                <h5>Género: <%= album.genre.name %></h5>
                <p id="description">
                    <%= album.description %>
                </p>
            </div>
            <div class="row-mini-cards">
                <div id="valoracion" class="info-mini-cards">
                    <label class="info">Valoración: <%= album.rating%></label>
                </div>
                <div id="formatos" class="info-mini-cards">
                    <label class="info">CD</label>
                </div>
                <div id="price" class="info-mini-cards">
                    <label class="info">$780</label>
                </div>
                <div id="addToCart" class="info-mini-cards">
                    <label class="info">Comprar</label>
                </div>
            </div>

            <div class="row">
                <div id="album-covers" class="col-12">
                    <img class="col-6" src="<%= album.front_cover %>" alt="">
                    <img class="col-6" src="<%= album.back_cover %>" alt="">
                </div>
            </div>
        </div>

        <div class="child-frame2">
            <h3 class="tracklist">Tracklist no disponible.</h3>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>

</html>