<%- include('partials/head.ejs') %>
<div class="background">
    <%- include('partials/nav-bar.ejs') %>

    <div class="cartFrame" class="col-8">
        <h3 id="section">Tus productos</h3>
        <% let total = 0 %>
        <% albums.forEach(album => { %>
        <% total = total + album.price %>
        <div class="cartItem">
            <img class="cartItemCover" src="<%= album.front_cover%>" alt="" />
            <div class="cartItemTitle">
                <p class="itemTitle darkFont"><%= album.artist.name %></p>
                <p class="itemTitle darkFont"><%= album.title %></p>
            </div>
            <div class="containers">
                <div id="cart-format">
                    <p class="containers-text darkFont" style="text-transform: uppercase;"><%= album.format %></p>
                </div>
                <div id="cart-units">
                    <p class="containers-text darkFont">Cantidad</p>
                </div>
                <div id="cart-price">
                    <p class="containers-text darkFont">$ <%= album.price %></p>
                </div>
                <form action="/products/carrito" method="POST"></form>
                <input type="image" class="delete_item" src="/images/delete_item.png" name="clearItem"
                    value="<%=  album.id %>">
                </form>
            </div>
        </div>
        <% }) %>
        <div id="cart-total">
            <hr>
            <h3 id="section">Total: $ <%= total%>.-</h3>
        </div>
    </div>

    <div class="action-buttons">
        <button class="go-back" onclick="window.location.href='/'">Seguir Comprando</button>
        <button class="buy">Confirmar Compra</button>
    </div>

    <%- include('partials/footer.ejs') %>
</div>

</html>