<%- include('partials/head.ejs') %>
<div class="background">
  <%- include('partials/nav-bar.ejs') %>
  <div class="detail-frame" style="margin-bottom: 5em;">
    <div class="detail-child-frame1">
      <div>
        <h1 class="detail-title"><%= album.title %> - <%= album.artist.name %></h1>
        <h5>Género: <%= album.genre.name %></h5>
        <p class="detail-description">
          <%= album.description %>
        </p>
      </div>
      <div class="detail-row-mini-cards">
        <div id="valoracion" class="detail-info-mini-cards">
          <label class="detail-info">
            <%for (let i = 0; i < album.rating; i++) {%>
            <i class="fas fa-star"></i>
            <%}%>
          </label>
        </div>
        <div id="formatos" style="text-transform: uppercase;" class="detail-info-mini-cards">
          <label class="detail-info"><%= album.format%></label>
        </div>
        <div id="price" class="detail-info-mini-cards">
          <label class="detail-info">$<%= album.price%></label>
        </div>
        <form action="/products/<%= album.id %>" method="POST">
          <button class="detail-addToCartButton" name="item" value="<%=  album.id %>">
            <label class="detail-info">
              <div style="display: inline-flex; justify-content: center; align-items: center;">
                <img class="detail-addToCart-icon" src="/images/addToCart.png" alt="">
                <p class="detail-info" style="margin: 0 auto; margin-left: 0.2em">Añadir</p>
              </div>
            </label>
          </button>
        </form>
      </div>
      <div class="detail-row-mini-cards">
        <img class="detail-album-cover" src="<%= album.front_cover %>" alt="">
        <img class="detail-album-cover" src="<%= album.back_cover %>" alt="">
      </div>
    </div>

    <div class="detail-child-frame2">
      <ol class="detail-tracklist">
        <h3 class="detail-title">Tracklist</h3>
        <br>
        <%if (tracklist.length != 0) { %>
        <% for (let i = 0; i < tracklist.length; i++) { %>
        <li><%= tracklist[i].name %></li>
        <% } %>
        <%} else { %>
        <h5>No disponible</h5>
        <% } %>
      </ol>
    </div>
  </div>
  <%- include('partials/footer.ejs') %>

  </html>